# --- Base da aplicação ---
streamlit>=1.30.0
google-cloud-firestore>=2.11.0
schedule>=1.2.0
pysqlite3-binary
firebase-admin==6.4.0

# --- RAG e embeddings ---
llama-index>=0.10.28         # Garante acesso ao SentenceSplitter e outras melhorias
chromadb>=0.4.24             # Compatível com persistência e HNSW config
sentence-transformers>=2.2.2 # Modelo HuggingFace usado nos embeddings
nltk>=3.8.1
spacy>=3.7.2

# --- LLM: Google Gemini ---
google-generativeai>=0.3.2   # Usado para chamar o Gemini 

# --- Outros ---
protobuf<4.0.0               # Evita conflitos com Google API
